openviduagentutils @ git+https://github.com/OpenVidu/openvidu-agents.git#egg=openviduagentutils&subdirectory=openviduagentutils
livekit-agents[silero,turn_detector,azure,google,groq,openai,deepgram,assemblyai,fal,clova,speechmatics,gladia,sarvam,mistralai,cartesia,soniox,spitch]>=1.2.16
livekit-plugins-aws @ git+https://github.com/OpenVidu/agents.git#egg=livekit-plugins-aws&subdirectory=livekit-plugins/livekit-plugins-aws