# Base requirements shared by all speech-processing variants
openviduagentutils @ git+https://github.com/OpenVidu/openvidu-agents.git#egg=openviduagentutils&subdirectory=openviduagentutils
livekit-agents[silero]>=1.4.2
# ######################################
# TODO: use turn detection when required
# ######################################
#livekit-agents[turn_detector]>=1.4.2