name: OpenVidu Agents Unit Tests

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    tests:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.12"
                  cache: "pip"

            - name: Install dependencies
              run: |
                  # Install global dependencies
                  python -m pip install --upgrade pip
                  pip install pytest

                  # Install speech-processing dependencies
                  pushd speech-processing
                  pip install -r requirements-base.txt
                  pip install -r requirements-cloud.txt
                  pip install -r requirements-vosk.txt
                  pip install -e ../openviduagentutils/
                  popd

            - name: Run unit tests
              run: |
                  PYTHONPATH=$PWD pytest -v -ra --color=yes
